---
// Props if any
---

<div class="bg-zinc-300 text-zinc-500 w-full" x-data="">
  <div class="container mx-auto max-w-[1400px] px-4 sm:px-12 md:px-12 lg:px-24 py-12 flex flex-col md:flex-row">

    <div class="flex grow flex-col items-center md:items-start">
      <h3 class="font-logo text-2xl">Keyboard Atelier</h3>
      <p x-text="'2020 - ' + new Date().getFullYear().toString()" class="pt-1" />
    </div>

    <div class="flex grow flex-col items-center md:items-end pt-6 md:pt-0 gap-2 md:gap-1">
      <a href="/">Home</a>
      <a href="https://discord.gg/b7vwhHS">Discord</a>
      <a href="" class="pointer-events-none">Wiki (Coming Soon)</a>
      <a href="https://github.com/keyboard-atelier/website">Website Source</a>
    </div>

  </div>
</div>